<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <title>Curso | Dindin</title>
  <link rel="stylesheet" href="../static/css/header-footer.css" />
  <link rel="stylesheet" href="../static/css/curso.css">
</head>

<body>

  <!--  -->
  <header>
    <nav class="container">
      <img src="../static/img/logo-header.png" />

      <ul>
        <a href="contato.html">Contato</a>
        <a href="blog.html">Blog</a>
        <a href="cursos.html">Cursos</a>
      </ul>
    </nav>
  </header>

  <section class="container banner">
    <aside>
      <h1>
        Investimento </br>
        para iniciantes
      </h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
        magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
    </aside>
    <img src="../static/img/ilustra-poupando.png" />
  </section>


  <!--  -->
  <section class="background">
    <section class="container cursos">

      <div>
        <img class="cursos-imagens" src="../static/img/Rectangle 20.png" />
        <div class="curso-card">
          <h2 class="curso-title">Aula 1</h2>
          <img class="curso-imagem" src="../static/img/Rectangle 20.png" />
          <p class="curso-info">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            <br>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>

      <hr>

      <div>
        <img class="cursos-imagens" src="../static/img/Rectangle 20.png" />
        <div class="curso-card">
          <h2 class="curso-title">Aula 2</h2>
          <img class="curso-imagem" src="../static/img/Rectangle 20.png" />
          <p class="curso-info">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            <br>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>

      <hr>

      <div>
        <img class="cursos-imagens" src="../static/img/Rectangle 20.png" />
        <div class="curso-card">
          <h2 class="curso-title">Aula 3</h2>
          <img class="curso-imagem" src="../static/img/Rectangle 20.png" />
          <p class="curso-info">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            <br>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </div>
      </div>

    </section>
  </section>


  <!--  -->
  <footer>
    <nav class="container">
      <img src="../static/img/logo-footer.png" />

      <ul>
        <a href="contato.html">Contato</a>
        <a href="blog.html">Blog</a>
        <a href="cursos.html">Cursos</a>
      </ul>

      <div>
        <button>QUERO SER PROF</button>
        <button>AQUI TEM OUTRO LINK</button>
      </div>
    </nav>
  </footer>
</body>

</html>