<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Posts | Dindin</title>
    <link rel="stylesheet" href="../static/css/header-footer.css" />
    <link rel="stylesheet" href="../static/css/posts.css" />
  </head>
  <body>
    <!--  -->
    <header>
      <nav class="container">
        <img src="../static/img/logo-header.png" />

        <ul>
          <a href="cursos.html">CURSOS</a>
          <a href="blog.html">BLOG</a>
          <a href="contato.html">CONTATO</a>
        </ul>
      </nav>
    </header>

    <section class="container main">
      <h2 class="title">On the other hand, we denounce</h2>
      <p class="paragraph">27 de dezembro de 2020</p>

      <div id="foto-post">
        <img src="../static/img/foto post.png" />
      </div>

      <div id="foto-texto">
        <img src="../static/img/foto-texto.png" />
      </div>
    </section>

    <h5 class="container title">Conheça nossos cursos</h5>

    <section class="cursos">

      <section class="container">
        <div>
          <img src="../static/img/ilustra-poupando.png" />
          <h2>Investimento para iniciantes</h2>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <button>começar agora</button>
        </div>

        <div>
          <img src="../static/img/ilustra-investimento.png" />
          <h2>Poupando e Rendendo</h2>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <button>começar agora</button>
        </div>

        <div>
          <img src="../static/img/ilustra-independencia.png" />
          <h2>Independência Financeira</h2>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
          <button>começar agora</button>
        </div>
        
      </section>
    </section>

    <!--  -->
    <footer>
      <nav class="container">
        <img src="../static/img/logo-footer.png" />

        <ul>
          <a href="contato.html">Contato</a>
          <a href="blog.html">Blog</a>
          <a href="cursos.html">Cursos</a>
        </ul>

        <div>
          <button>QUERO SER PROF</button>
          <button>AQUI TEM OUTRO LINK</button>
        </div>
      </nav>
    </footer>
  </body>
</html>
